<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
		
		<script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
		<link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />

	</head>

	<body>
		<h1 class="text-3xl font-bold underline" align="center">
			Fair Fare
		</h1>

		<br>

		<div align="center" id="data">
			<label for="pickup">Pick Up Destination</label>
			<input id="pickup" name="pickup">
			<button id="choose-pickup" onclick="setPickUp()">Choose</button>

			<br>

			<label for="dropoff">Drop Off Destination</label>
			<input id="dropoff" name="dropoff">
			<button id="choose-pickup" onclick="setDropOff()">Choose</button>

			<br>

			<label for="passcount">Number of Passengers</label>
			<input id="passcount" name="passcount">

			<br>

			<button id="submit">Submit</button>

		</div>

		<div id='map' 
		style='
		width: 50%; 
		height: 500px; 
		margin: auto;
		padding: 50px;
		'>
		</div>

		<script>
			mapboxgl.accessToken = 'pk.eyJ1Ijoic2hlaHJhaiIsImEiOiJja3lnZ3V5dHkwbW1kMm9uYXdreXM2ZTVxIn0.MX2pF5B7VtOF85Il3xm8cQ';
			const map = new mapboxgl.Map({
			container: 'map', // container ID
			style: 'mapbox://styles/mapbox/streets-v11', // style URL
			center: [-113.52798079975238, 53.52448047102317], // starting position [lng, lat]
			zoom: 15 // starting zoom
			});

			var pickUpChosen = false;
			var markersOnMap = [];

			const popup = document.getElementsByClassName('mapboxgl-popup');

			map.on('click', function(e) {
				if (!pickUpChosen) {

					if (markersOnMap.length > 0) {
						for (var i = 0; i < markersOnMap.length; i++) {
							markersOnMap[i].remove();
						}
						markersOnMap = [];
					}

					var coordinates = e.lngLat;
					new mapboxgl.Popup()
					.setLngLat(coordinates)
					.setHTML('Pick Up: <br/>' + coordinates)
					.addTo(map);
					
					var coords = coordinates.toArray();
					var lng = coords[0].toString();
					var lat = coords[1].toString();
					document.getElementById("pickup").value = lng+", "+lat;
				} else {
					var coordinates = e.lngLat;
					new mapboxgl.Popup()
					.setLngLat(coordinates)
					.setHTML('Drop Off: <br/>' + coordinates)
					.addTo(map);
					
					var coords = coordinates.toArray();
					var lng = coords[0].toString();
					var lat = coords[1].toString();
					document.getElementById("dropoff").value = lng+", "+lat;
				}
			});

			function setPickUp() {
				pickUpChosen = true;
				var coordinates = document.getElementById("pickup").value.split(",");
				var lng = parseFloat(coordinates[0]);
				var lat = parseFloat(coordinates[1]);

				if ( popup.length ) {
					popup[0].remove();
				}
				const pickUpMarker = new mapboxgl.Marker({color: 'green'})
					.setLngLat([lng, lat])
					.addTo(map);
				markersOnMap.push(pickUpMarker);

				var lng = parseFloat(coordinates[0]).toFixed(5);
				var lat = parseFloat(coordinates[1]).toFixed(5);
				document.getElementById("pickup").value = lng.toString()+", "+lat.toString();
			}

			function setDropOff() {
				pickUpChosen = false;

				var coordinates = document.getElementById("dropoff").value.split(",");
				var lng = parseFloat(coordinates[0]);
				var lat = parseFloat(coordinates[1]);

				if ( popup.length ) {
					popup[0].remove();
				}
				const dropOffMarker = new mapboxgl.Marker({color: 'red'})
					.setLngLat([lng, lat])
					.addTo(map);
				markersOnMap.push(dropOffMarker);

				var lng = parseFloat(coordinates[0]).toFixed(5);
				var lat = parseFloat(coordinates[1]).toFixed(5);
				document.getElementById("dropoff").value = lng.toString()+", "+lat.toString();
			}
		</script>
	</body>
</html>